<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.animal.photo.key  %> )" id = "status-<%= booking.status %>">
              <h1><%= booking.animal.name %></h1>
              <div class="card-details">
                <h4>Until: <%= booking.end_date %></h4>
              </div> <%# <detail div %>
            </div>
