<div class="custom-banner">
  <h1 class="custom-banner-heading">Have a happy farm</h1>
  <p class="custom-banner-paragraph py-3 ">Rent cows, chickens, horses, pigs and much more!</p>
  <div>
    <%= form_with url: animals_path, method: :get, class: "d-flex mt-3" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an animal" %>
      <%= submit_tag "Search", class: "btn btn-primary search-button", style: "background-color: #319534; border-color: #309533; color:white" %>
    <% end %>
  </div>
</div>
