<div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://modernfarmer.com/wp-content/uploads/2014/09/innercowhero.jpg);">
    <h1 class="farm-heading">Have a happy farm</h1>
    <p class="farm-paragraph py-3">Rent cows, chickens, horses, pigs and much more!</p>
    <a class="farm-button" href="#">Apply now</a>
</div>
