<div class="custom-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://modernfarmer.com/wp-content/uploads/2014/09/innercowhero.jpg);">
  <div class="mb-5">
    <h1 class="custom-banner-heading">Have a happy farm</h1>
    <p class="custom-banner-paragraph py-3">Rent cows, chickens, horses, pigs and much more!</p>
  </div>
  <div class="custom-banner-buttons">
    <a class="farm-button" href="#">Rent your animal</a>
    <a class="farm-button" href="#">Rent animals for your farm!</a>
  </div>
</div>
