<div class="custom-banner">
  <h1 class="custom-banner-heading">Have a happy farm</h1>
  <p class="custom-banner-paragraph py-3">Rent cows, chickens, horses, pigs and much more!</p>
  <div class="custom-banner-buttons mt-4">
    <%= link_to 'Book animals', animals_path, class: 'farm-button' %>
    <a class="farm-button" href="#">Rent out animals</a>
  </div>
  <div class="mt-3">
    <%= form_with url: animals_path, method: :get, class: "d-flex mt-3" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an animal" %>
      <%= submit_tag "Search", class: "btn btn-primary", style: "background-color: #309533; border-color: #309533" %>
    <% end %>
  </div>
</div>
