<div class="custom-banner">
  <h1 class="custom-banner-heading">Have a happy farm</h1>
  <p class="custom-banner-paragraph py-3">Rent cows, chickens, horses, pigs and much more!</p>
  <div class="custom-banner-buttons mt-4">
    <a class="farm-button" href="#">Rent out animals</a>
    <a class="farm-button" href="#">Book animals</a>
  </div>
</div>
