.booking_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 130%;
  width: 100%;
  margin-right: 3%;
  grid-gap: 16px;
}
.card-link {
  position: relative;
  color: white
}
.card-link:hover .card-details {
  opacity: 1;
}
@media (min-width: 100px) and (max-width: 575px) {
  .booking_cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .booking_cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .booking_cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .booking_cards {
    grid-template-columns: 1fr 1fr 1fr;

  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .booking_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
