// animations
@keyframes to-left {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    margin-left: 5%;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-right: 3%;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 350px;
  margin: 2%;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}


#map {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 8px;
}

.card-category:hover .card-details {
  opacity: 1;
  left: 15px;
}

.animal-name {
  position: absolute;
  left: 3%;
  bottom: 46%;
}

.card-details {
  position: absolute;
  bottom: 10%;
  opacity: 0;
  transition: 0.3s;
  filter: brightness(100%);
}

.card-category:hover {
  cursor: pointer;
  border-radius: 8px;
  background-blend-mode: darken;
  margin-left: -10%;
}

.links {
  color: #FFFFFF;
  text-decoration: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;

  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
