.custom-banner {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .custom-banner-heading {
    font-family: 'Raleway', sans-serif;;
    font-weight: medium;
    font-size: 40px;
    color: white;
  }

  .custom-banner-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 18px;
    color: white;
    opacity: 0.8;
  }

  .custom-banner-buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}
