@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: #319534;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: rgb(251, 251, 251);
  font-family: $body-font;
  transition: 0.1s;
}

.navbar-lewagon .farmbnb-logo-text {
  color: rgb(251, 251, 251);
  font-family: 'Rubik Dirt', cursive;
  letter-spacing: 1px;
}

.search-button {
  transition: 0.5s;
}

.search-button:hover {
  filter: brightness(80%);
}
